body {
    min-width: 1020px;
    margin: 0 auto;
    font-family: "Helvetica-Regular", sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #000;
}

@charset "UTF-8";
@font-face {
    font-family: "Helvetica-Regular";
    src: url(Helvetica-Regular.eot");
    src: url("Helvetica-Regular.eot?#iefix") format("embedded-opentype"), url(Helvetica-Regular.woff") format("woff"), url(Helvetica-Regular.ttf") format("truetype"), url(Helvetica-Regular.svg#Helvetica-Regular") format("svg");
    font-weight: normal;
    font-style: normal;
}

@charset "UTF-8";
@font-face {
    font-family: "Helvetica-Bold";
    src: url("Helvetica-Bold.eot");
    src: url("Helvetica-Bold.eot?#iefix") format("embedded-opentype"), url("Helvetica-Bold.woff") format("woff"), url("Helvetica-Bold.ttf") format("truetype"), url("Helvetica-Bold.svg#Helvetica-Bold") format("svg");
    font-weight: bold;
    font-style: normal;
}

@charset "UTF-8";
@font-face {
    font-family: "MYRIADPROREGULAR";
    src: url("./MYRIADPROREGULAR.eot");
    src: local("MYRIADPROREGULAR"), url("./MYRIADPROREGULAR.woff") format("woff"), url("./MYRIADPROREGULAR.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

.container {
    width: 1000px;
    margin: 0 auto;
    /*    padding: 0 10px;*/
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

* {
    box-sizing: border-box;
}


/*NAVIGATION*/

.page-header {
    height: 104px;
}

.main-navigation {}

.main-navigation ul {
    position: relative;
    margin: 0;
    padding: 0;
    font-size: 0;
    list-style: none;
}

.main-navigation li {
    display: inline-block;
    padding: 40px 0;
    font-size: 18px;
    line-height: 25px;
    font-weight: normal;
    text-transform: uppercase;
}

.main-navigation a {
    padding: 36px 0;
    text-decoration: none;
    color: #000;
}

li:nth-of-type(1) {
    margin-left: 10px;
    margin-right: 125px;
}

li:nth-of-type(2) {
    margin-right: 469px;
}

li:nth-of-type(3) {
    margin-right: 89px;
}

.main-navigation ul::before {
    position: absolute;
    content: "";
    width: 256px;
    height: 154px;
    top: 2px;
    left: 382px;
    background-image: url("../img/logo.png");
    background-position: center;
    background-repeat: no-repeat;
    z-index: 10;
}

.active {
    color: #2a4168;
    box-shadow: 0 -6px 0 0 #2a4168;
}


/*SLIDER*/

.slider {
    position: relative;
}

.slide {
    width: 100%;
    min-height: 496px;
    margin: 0 auto;
    background-position: center;
    background-repeat: no-repeat;
}

.slider input[type="radio"] {
    display: none;
}

.slider-controls {
    position: absolute;
    bottom: 9px;
    right: 260px;
    margin-right: -100px;
    width: 200px;
    text-align: center;
}

.slider-controls label {
    display: inline-block;
    width: 30px;
    height: 8px;
    margin: 0 3px;
    vertical-align: top;
    border: 1px solid #8b9dad;
    border-radius: 0;
    cursor: pointer;
    background: #8b9dad;
}

.slide:nth-child(1) {
    background-image: url("../img/img-slider-1.jpg");
}

.slide:nth-child(2) {
    background-image: url("../img/img-slider-2.jpg");
}

.slide:nth-child(3) {
    background-image: url("../img/img-slider-3.jpg");
}

.slide:nth-child(4) {
    background-image: url("../img/img-slider-4.jpg");
}

.slide {
    display: none;
}

#big-slide-1:checked ~ .slides .slide:nth-child(1) {
    display: block;
}

#big-slide-2:checked ~ .slides .slide:nth-child(2) {
    display: block;
}

#big-slide-3:checked ~ .slides .slide:nth-child(3) {
    display: block;
}

#big-slide-4:checked ~ .slides .slide:nth-child(4) {
    display: block;
}

#big-slide-1:checked ~ .slider-controls label[for="big-slide-1"],
#big-slide-2:checked ~ .slider-controls label[for="big-slide-2"],
#big-slide-3:checked ~ .slider-controls label[for="big-slide-3"],
#big-slide-4:checked ~ .slider-controls label[for="big-slide-4"] {
    background-color: #2a4168;
    border: 1px solid #94a4af;
}

.slide-title p {
    display: inline-block;
    padding-top: 52px;
    padding-left: 11px;
    font-family: "Helvetica-Bold", sans-serif;
    font-size: 30px;
    line-height: 35px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
}

.btn {
    display: block;
    font-size: 18px;
    /*    line-height: 25px;*/
    font-family: "Helvetica-Regular", sans-serif;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    color: #fff;
    text-align: center;
}

.owners {
    position: relative;
    top: -130px;
    left: 818px;
    padding: 9px 0;
    width: 193px;
    height: 40px;
    text-align: center;
    background-color: #2a4168;
    border: 1px solid #889bb3;
}

.owners:hover {
    background-color: #fff;
    color: #2a4168;
}

.seafarers {
    position: relative;
    top: -116px;
    left: 819px;
    padding: 9px 0;
    width: 193px;
    height: 40px;
    text-align: center;
    background-color: #2a4168;
    border: 1px solid #889bb3;
}

.seafarers:hover {
    background-color: #fff;
    color: #2a4168;
}

.more {
    position: relative;
    top: -90px;
    left: 13px;
    padding: 10px 0;
    width: 155px;
    height: 39px;
    background-color: #d51313;
}

.advantages {
    margin-left: 18px;
    padding-top: 5px;
    font-size: 30px;
    font-family: "Helvetica-Bold", sans-serif;
    text-transform: uppercase;
    text-align: center;
}

p {
    margin-top: 12px;
}

.adv-logo {
    display: inline-block;
    margin: 0 auto;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    vertical-align: text-top;
}

.adv-logo {
    width: 230px;
}

.adv-logo:nth-child(1) {
    margin-top: 4px;
    margin-left: 10px;
    margin-right: 20px;
}

.adv-logo:nth-child(2) {
    margin-top: 4px;
    margin-left: 3px;
    margin-right: 20px;
}

.adv-logo:nth-child(3) {
    margin-top: 6px;
    margin-left: 3px;
    margin-right: 20px;
}

.adv-logo:nth-child(4) {
    margin-top: 4px;
    margin-left: -10px;
}

.bg-fluid {
    background-color: #e8e8e8;
}

.news-block {
    margin-top: 23px;
    padding-top: 42px;
    padding-left: 16px;
    font-size: 30px;
    font-family: "Helvetica-Bold", sans-serif;
    text-align: center;
    text-transform: uppercase;
}

.news {
    margin-top: -6px;
    float: left;
    width: 500px;
    height: 229px;
    background-color: #fff;
}

.news-text {
    margin-left: 90px;
    width: 330px;
}

.news-text > span {
    display: inline-block;
    margin-top: 34px;
    font-size: 14px;
    line-height: 25px;
    color: #848484;
}

.news-text > b {
    display: inline-block;
    margin-top: -13px;
    font-size: 14px;
    line-height: 25px;
    font-weight: normal;
}

.news-text > h4 {
    margin-top: 9px;
}

.news-text > h4 > a {
    font-family: "Helvetica-Bold", sans-serif;
    font-size: 18px;
    line-height: 25px;
    text-decoration: none;
    color: #2a4168;
}

.news-text > h4 > a:hover {
    text-decoration: underline;
}

.news-text > p {
    margin-top: -13px;
    font-size: 14px;
    line-height: 25px;
    color: #181818;
}

.read-more {
    float: right;
    margin: 10px 0;
}

.read-more a {
    font-size: 14px;
    line-height: 25px;
    text-decoration: none;
    color: #d51313;
}

.read-more a:hover {
    text-decoration: underline;
}

.partners {
    margin-top: 53px;
    font-size: 30px;
    /*    font-family: "MYRIADPROREGULAR", sans-serif;*/
    text-transform: uppercase;
    text-align: center;
}


/*
.fontsforweb_fontid_4410 {
	font-family: "MYRIADPROREGULAR" !important;
}
*/

.partners-logo {
    float: left;
}

.partners-logo:nth-child(2) {
    margin-left: 7px;
}

.partners-logo:nth-child(4) {
    margin-top: 3px;
    margin-left: 11px;
}

.partners-logo:nth-child(5) {
    margin-left: 2px;
    margin-left: 38px;
}

.partners-logo:nth-child(6) {
    margin-top: 2px;
    margin-left: 2px;
    margin-bottom: 51px;
}

.partners-logo img {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
    /* IE 6-9 */
}

.partners-logo img:hover {
    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
    -ms-filter: grayscale(0);
    -o-filter: grayscale(0);
    filter: grayscale(0);
    filter: none;
    /* IE 6-9 */
}

.contacts {
    margin-top: -9px;
    margin-left: 25px;
    font-size: 30px;
    font-family: "Helvetica-Bold", sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}

.bg-fluid-blue {
    background-color: #203354;
}

.adress,
.q-contacts {
    float: left;
}

.adress {
    width: 201px;
    margin-left: 152px;
    margin-right: 325px;
}

.adress > h5,
.q-contacts > h5 {
    margin-top: -30px;
    margin-bottom: 11px;
    margin-left: -5px;
    font-size: 24px;
    font-weight: normal;
    text-align: center;
    color: #fff;
}

.adress > p {
    font-size: 18px;
    line-height: 33px;
    font-weight: 100;
    color: #fff;
}

.q-contacts > p {
    position: relative;
    margin-bottom: 11px;
    font-size: 24px;
    line-height: 32px;
    font-weight: normal;
    color: #fff;
}

.q-contacts > span {
    padding-left: 29px;
    font-size: 17px;
    line-height: 25px;
    text-decoration: underline;
    font-weight: normal;
    color: #fff;
}

.q-contacts > b {
    display: inline-block;
    margin-top: 8px;
    margin-bottom: 10px;
    padding-left: 28px;
    font-weight: normal;
    text-decoration: none;
    font-weight: normal;
    color: #fff;
}

.q-contacts > p::before {
    position: absolute;
    content: "";
    top: 74px;
    left: -4px;
    width: 26px;
    height: 26px;
    background-image: url("../img/skype.png");
    z-index: 10;
}

.q-contacts > span > a {
    position: relative;
    font-size: 20px;
    line-height: 25px;
    text-decoration: none;
    font-weight: normal;
    color: #fff;
}

.q-contacts > b > a {
    position: relative;
    font-size: 17px;
    line-height: 25px;
    text-decoration: none;
    font-weight: normal;
    color: #fff;
}

.q-contacts > b > a::before {
    position: absolute;
    content: "";
    top: -4px;
    left: -30px;
    width: 26px;
    height: 26px;
    background-image: url("../img/mail.png");
    z-index: 10;
}

.q-contacts {
    width: 208px;
}

.message {
    position: relative;
    top: 246px;
    left: 420px;
    padding: 15px 0;
    width: 190px;
    height: 45px;
    background-color: #9f0505;
}

.bg-fluid-dark-blue {
    margin-top: 54px;
    background-color: #15243f;
    border-top: 1px solid #fff;
}

.bottom-footer span {
    display: inline-block;
    padding: 11px 0;
    font-size: 14px;
    line-height: 25px;
    font-family: "Helvetica-Regular", sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #fff;
}

.bottom-footer span:first-child {
    margin-left: 15px;
    margin-right: 426px;
}