/** Created by TTF.in.ua **/
@font-face {
    font-family: 'Helvetica-Bold___';
    src: url('Helvetica-Bold___.eot');
    src: url('Helvetica-Bold___.eot?#iefix') format('embedded-opentype'),
         url('Helvetica-Bold___.woff') format('woff'),
         url('Helvetica-Bold___.ttf') format('truetype'),
         url('Helvetica-Bold___.svg#Helvetica-Bold___') format('svg');
    font-weight: normal;
    font-style: normal;
}